
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');



/*---Heading*/


.logo {
    background: ("assets/images/peritomoreno2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/*---Footer*/

footer {
    padding: 30px;
    background-color: #60abff;

    }
    .socialmedia i {
        text-align: center;
    }

    

    .socialmedia i {
        font-size: 50px;
        margin: 1%;
        padding: 6%;
        color: #000000;
}
/*---Section*/
.info {
      color: #000000;
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: "Roboto", sans-serif;

  }

  /*---Contact*/

  .contact-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #000000;
    background-color: #60abff;

    /*---Gallery*/
}
.row {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  
  .column {
    flex: 25%;
    max-width: 33.3%;
    
    
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .column img:hover {
    filter: grayscale(0);
  }
  @media screen and (max-width: 800px) {
    
      .column {
      
      flex: 50%;
      max-width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  
    .column img {
      filter: grayscale(0) brightness(1);
    }
  }

  /* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

