
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');



/*---Heading*/


.logo {
    background: url("../images/peritomoreno2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/*---Footer*/
footer {
    padding: 30px;
    background-color: #75c8ae;
    }
    .socialmedia i {
        text-align: center;
    }

    

    .socialmedia i {
        font-size: 50px;
        margin: 1%;
        padding: 6%;
        color: #ffecb4;
}
/*---Section*/
.info {
      color: #000000;
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: "Roboto", sans-serif;

  }

  /*---Contact*/

  .contact-heading {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #ffecb4;
    background-color: #75c8ae;
}