
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');



/*---Heading*

header {

}

.logo {
    background: url("../images/peritomoreno2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*---Footer*
footer {
    padding: 30px;
    background-color: #75c8ae;
    }
    .socialmedia i {
        text-align: center;
    }

    

    .socialmedia i {
        font-size: 50px;
        margin: 1%;
        padding: 6%;
        color: #ffecb4;
}
